body {
    margin: 0;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    overflow-y: hidden;
}

.night {
    height: 102vh;
    width: 100vw;
    border: 0px solid black;
    background: url('./assets/Img_08.jpg');
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgb(0, 0, 0, 4);
    overflow-x: hidden;
    overflow-y: hidden;
}

.surface {
    height: 120px;
    width: 10000%;
    background-image: url('./assets/Img_02.2.png');
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
}

.car {
    position: absolute;
    bottom: -3%;
    left: 10%;
}


/* Animation */

@keyframes moveRight {
    100% {
        transform: translateX(-29500px)
    }
    ;
}

@keyframes suspension {
    100% {
        transform: translateY(-0.5px);
    }
    50% {
        transform: translateY(2px);
    }
    0% {
        transform: translateY(-0.5px);
    }
}

.moveRight {
    animation: moveRight 50s linear;
}

.suspension {
    animation: suspension 2s linear infinite;
}
